In [1]:
##Import necessary modules
import pandas as pd
from sqlalchemy import create_engine
import pymongo

### Extract CSVs into DataFrames
Two data sources of interest where found on Kaggle, The files were opened into a pandas dataframe for processing.

In [2]:
##Downloaded CSV from Kaggle relating to wage data; converted into Pandas dataframe
wages_file = "Resources/wages.csv"
wage_df = pd.read_csv(wages_file,low_memory=False)
wage_df.head()

,RecordNumber,Zipcode,ZipCodeType,City,State,LocationType,Lat,Long,Xaxis,Yaxis,Zaxis,WorldRegion,Country,LocationText,Location,Decommisioned,TaxReturnsFiled,EstimatedPopulation,TotalWages,Notes
0,1,704,STANDARD,PARC PARQUE,PR,NOT ACCEPTABLE,17.96,-66.22,0.38,-0.87,0.3,NaN,US,"Parc Parque, PR",NA-US-PR-PARC PARQUE,False,NaN,NaN,NaN,NaN
1,2,704,STANDARD,PASEO COSTA DEL SUR,PR,NOT ACCEPTABLE,17.96,-66.22,0.38,-0.87,0.3,NaN,US,"Paseo Costa Del Sur, PR",NA-US-PR-PASEO COSTA DEL SUR,False,NaN,NaN,NaN,NaN
2,3,704,STANDARD,SECT LANAUSSE,PR,NOT ACCEPTABLE,17.96,-66.22,0.38,-0.87,0.3,NaN,US,"Sect Lanausse, PR",NA-US-PR-SECT LANAUSSE,False,NaN,NaN,NaN,NaN
3,4,704,STANDARD,URB EUGENE RICE,PR,NOT ACCEPTABLE,17.96,-66.22,0.38,-0.87,0.3,NaN,US,"Urb Eugene Rice, PR",NA-US-PR-URB EUGENE RICE,False,NaN,NaN,NaN,NaN
4,5,704,STANDARD,URB GONZALEZ,PR,NOT ACCEPTABLE,17.96,-66.22,0.38,-0.87,0.3,NaN,US,"Urb Gonzalez, PR",NA-US-PR-URB GONZALEZ,False,NaN,NaN,NaN,NaN

In [3]:
## Extracted crime data CSV from Kaggle, converted into Pandas dataframe
crime_file = "Resources/crimedata.csv"
crimedata_df = pd.read_csv(crime_file,encoding = "ISO-8859-1")
crimedata_df.head()

,S#,Title,Location,Date,Incident Area,Open/Close Location,Target,Cause,Summary,Fatalities,...,Total victims,Policeman Killed,Age,Employeed (Y/N),Employed at,Mental Health Issues,Race,Gender,Latitude,Longitude
0,1,Texas church mass shooting,"Sutherland Springs, TX",11/5/2017,Church,Close,random,unknown,"Devin Patrick Kelley, 26, an ex-air force offi...",26,...,46,0.0,26,NaN,NaN,No,White,M,NaN,NaN
1,2,Walmart shooting in suburban Denver,"Thornton, CO",11/1/2017,Wal-Mart,Open,random,unknown,"Scott Allen Ostrem, 47, walked into a Walmart ...",3,...,3,0.0,47,NaN,NaN,No,White,M,NaN,NaN
2,3,Edgewood businees park shooting,"Edgewood, MD",10/18/2017,Remodeling Store,Close,coworkers,unknown,"Radee Labeeb Prince, 37, fatally shot three pe...",3,...,6,0.0,37,NaN,Advance Granite Store,No,Black,M,NaN,NaN
3,4,Las Vegas Strip mass shooting,"Las Vegas, NV",10/1/2017,Las Vegas Strip Concert outside Mandala Bay,Open,random,unknown,"Stephen Craig Paddock, opened fire from the 32...",59,...,585,1.0,64,NaN,NaN,Unclear,White,M,36.181271,-115.134132
4,5,San Francisco UPS shooting,"San Francisco, CA",6/14/2017,UPS facility,Close,coworkers,NaN,"Jimmy Lam, 38, fatally shot three coworkers an...",3,...,5,0.0,38,1.0,NaN,Yes,Asian,M,NaN,NaN

### Transform
Data with missing total wages was dropped, and a subsection of the table was selected for the merge.

In [4]:
## Transformed wage data by removing null values from TotalWages column; selected specifc columns, replaced M/F with full name, renamed columns

wage_df = wage_df[['Zipcode','LocationText', 'TaxReturnsFiled', 'EstimatedPopulation', 'TotalWages']]

wage_final_df = wage_df.rename(columns = {'LocationText':'Location'})

wage_final_df = wage_final_df.dropna(subset=['TotalWages'])

#replace M with Male and M/F with Male/Female on Gender colum

crimedata_df['Gender'].replace('M', "Male", inplace=True)

crimedata_df['Gender'].replace('M/F', "Male/Female", inplace=True)

wage_final_df.head()

,Zipcode,Location,TaxReturnsFiled,EstimatedPopulation,TotalWages
112,7093,"Monitor, NJ",26571.0,42640.0,1.071976e+09
113,7093,"Taurus, NJ",26571.0,42640.0,1.071976e+09
114,7675,"Westwood, NJ",13245.0,24083.0,1.089095e+09
115,7675,"Old Tappan, NJ",13245.0,24083.0,1.089095e+09
116,7675,"River Vale, NJ",13245.0,24083.0,1.089095e+09

### MERGE Dataframe 

Merged datasets based on location column

In [5]:
## MERGED dataframes into one

final_df = pd.merge(wage_final_df, crimedata_df, on='Location')

#select only the columns that are needed (drop S# from crime data)
final_df = final_df[['Zipcode', 'Location', 'TaxReturnsFiled', 'EstimatedPopulation',
      'TotalWages', 'Title', 'Date', 'Incident Area',
      'Open/Close Location', 'Target', 'Cause', 'Summary', 'Fatalities',
      'Injured', 'Total victims', 'Policeman Killed', 'Age',
      'Employeed (Y/N)', 'Employed at', 'Mental Health Issues', 'Race',
      'Gender', 'Latitude', 'Longitude']]

final_df.head()

,Zipcode,Location,TaxReturnsFiled,EstimatedPopulation,TotalWages,Title,Date,Incident Area,Open/Close Location,Target,...,Total victims,Policeman Killed,Age,Employeed (Y/N),Employed at,Mental Health Issues,Race,Gender,Latitude,Longitude
0,18657,"Tunkhannock, PA",5747.0,9918.0,178429916.0,Pennsylvania supermarket shooting,6/7/2017,Weis grocery,Close,coworkers,...,3,NaN,24,1.0,Weis grocery,Unclear,White,Male,NaN,NaN
1,80601,"Thornton, CO",13893.0,26250.0,580905622.0,Walmart shooting in suburban Denver,11/1/2017,Wal-Mart,Open,random,...,3,0.0,47,NaN,NaN,No,White,Male,NaN,NaN
2,80602,"Thornton, CO",11379.0,22592.0,740862094.0,Walmart shooting in suburban Denver,11/1/2017,Wal-Mart,Open,random,...,3,0.0,47,NaN,NaN,No,White,Male,NaN,NaN
3,80023,"Thornton, CO",5602.0,10898.0,473245489.0,Walmart shooting in suburban Denver,11/1/2017,Wal-Mart,Open,random,...,3,0.0,47,NaN,NaN,No,White,Male,NaN,NaN
4,80221,"Thornton, CO",16403.0,28839.0,474676207.0,Walmart shooting in suburban Denver,11/1/2017,Wal-Mart,Open,random,...,3,0.0,47,NaN,NaN,No,White,Male,NaN,NaN

In [6]:
## Find out number of records within final dataframe

len(final_df)

173

### Create database connection

In [7]:
##create a connection with mongo
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [8]:
##make a database and collection to store the records from final df
db = client.mass_shooting_and_wages
collection = db.mass_shooting_and_wages_items

### Load DataFrames into database
The information was loaded into mongoDB, it was picked because it allows for easy input and retrieval using Pymongo.

In [9]:
##use insert_many function to push the data from df to mongodb. Note:orient = records to create a dict with rows mapped as key:value
collection.insert_many(final_df.to_dict(orient='records'))

### Data Query of first record

In [10]:
## data query to pull first record to show format of collection
view_data = client.mass_shooting_and_wages.mass_shooting_and_wages_items.find_one()

In [11]:
view_data

{'_id': ObjectId('5c3a49f3a32b3f1e38b8d52c'),
 'Zipcode': 18657,
 'Location': 'Tunkhannock, PA',
 'TaxReturnsFiled': 5747.0,
 'EstimatedPopulation': 9918.0,
 'TotalWages': 178429916.0,
 'Title': 'Pennsylvania supermarket shooting',
 'Date': '6/7/2017',
 'Incident Area': 'Weis grocery',
 'Open/Close Location': 'Close',
 'Target': 'coworkers',
 'Cause': 'terrorism',
 'Summary': 'Randy Stair, a 24-year-old worker at Weis grocery fatally shot three of his fellow employees. He reportedly fired 59 rounds with a pair of shotguns before turning the gun on himself as another co-worker fled the scene for help and law enforcement responded.',
 'Fatalities': 3,
 'Injured': 0,
 'Total victims': 3,
 'Policeman Killed': nan,
 'Age': '24',
 'Employeed (Y/N)': 1.0,
 'Employed at': 'Weis grocery',
 'Mental Health Issues': 'Unclear',
 'Race': 'White',
 'Gender': 'Male',
 'Latitude': nan,
 'Longitude': nan}